---
import Layout from '../layouts/Layout.astro';
---

<Layout title="kzforms">
	<main>
		<h1>kzforms</h1>
	</main>
</Layout>

<style>
	h1 {
		margin: 3rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

</style>
