---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
---

<Layout title="kzforms">
	<main>
		<h1>kzforms</h1>
		<Form />
	</main>
</Layout>

<style>
	h1 {
		margin: 3rem 0 1em;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 50ch;
	}

</style>
