---
export interface Layout {
	title: string;
}

const { title } = Astro.props as Layout;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		font-family: "DM Sans", sans-serif;
		font-size: 1.2em;
		color: #ffffff;
		background: linear-gradient(#252422, #480ca8, #7209b7);
	}
</style>

